/*-------- PALETA DE COLORES ------------------- */
:root{
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue:#1259c3;
    --gray:#666;
    --light-gray:#ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------- BODY --------------------- */
body {
    background-color: var(--light-gray);
    font-family: var(--base-font-family);
    margin: 0;
}

/*------------------- HEADER ------------------- */
header{
    width: 100%;
    background-color: var(--yellow);
    padding: 20px auto;
    padding-bottom: 10px;
    position:fixed;
    top:0;
    z-index: 100;
}

.main-header-top{
    font-size: 22px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}
/*--------------------- LOGO --------------------*/
.logo{
    width: 30%;
}
/*--------------------SEARCH---------------------------*/
.bar-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height: 25px;
    background-color: var(--light-gray);
    margin-left: 25px;
    border-style:groove;
    align-items: center;
    
}

.search{
    background-color: var(--light-gray);
    padding-left: 2px;
    font-size: 12px;  
    height: 14px;
}

.icon-search{
    color: var(--gray)
}
/*---------------------------- PUBLICIDAD-----------------------------*/
.publicidad{
    text-align: center;
}

/*----------------------------LISTAS PC-----------------------------*/
.lista{
    display: none;
}

.lista a{
    text-decoration: none;
    color: var(--gray);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

header ul{
    display:flex;
    flex-direction: row-reverse;
    justify-content: stretch;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}


/*------------------ BOTON MENU -----------------*/
.burger-menu{
    background-color: var(--light-blue);
    color:var(--light-gray);
    padding: 3px;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 2em;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline;
}

/*---------------------------- BANNER -----------------------------*/
.banner{
    width: 100%;
    margin-top: 162px;
}

/*------------------------ MAIN -----------------------*/
main{
    width: 90%;
    display: inline;
    margin-top: 40px;
}


main h1{
    color: var(--gray);
    margin-left: 20px;
}

/*------------------- PARRAFO ------------------ */
p {
    font-size: 12px;
}

/*------------------- OFERTAS ------------------ */
.ofertas {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/*-----------------------TARJETAS PRODUCTOS ----------------------*/
main article{
    width: 200px;
    height: 266px;
    background-color: white;
    margin: 10px;
    display: block;
    position: relative;
}

.img-product{
    width: 100%;
}

.foot-article{
    border-top: solid 1px var(--gray)
}

/*---------ICONO ENVIO --------------------------*/
.fa-truck{
    color: var(--green);
    padding: 3px;
    border: solid var(--green) 1px;
    border-radius: 100%;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 43px;
}



main article:hover i{
    transform: rotate(90deg);
}

/*------------------- PRECIOS ------------------ */
.precio {
    font-size: 18px;
    width: 30%;
    margin: 0 ;
    display: inline;
}

/*------------------- DESCUENTOS --------------- */
.descuento {
    font-size: 16px;
    color: var(--green);
    width: 70%;
    margin: 0;
    display: inline;
}

/*------------------- DESCRIPCION --------------- */


/*------------------- SEPARADOR --------------- */
.separador {
    height: 10px;
}


/*-------------------------- DISEÑO FOOTER -------------------------*/
footer{
    text-align: center;
}

.img-footer{
    color:var(--light-blue);
    font-size: 20px;
}

footer h2{
    margin: 5px;

}

footer p{
    margin-top: 8px;
    margin-bottom: 20px;
}

/*---------------------------- MEDIA CELULAR ----------------------*/
@media (max-width: 460px ) {   
    .lista{
        display: none;
    }

    article h2 {
        display: none;
    }
    
}

/*---------------------------- MEDIA TABLET ----------------------*/
@media (min-width: 768px ) {   
    .main-header-top{
        display: flex;
        justify-content: space-between;
    }

    .publicidad{
        max-width: 350px;
        text-align: right;
    }

    .lista{
        display: flex;
        justify-content: space-between;
    }

    header ul{
        display: flex;
    }

    header li{
        margin: 0 5px;
    }

    .burger-menu{
        display: none;
    }

    .banner{
        margin-top: 129px;
    }

    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

/*---------------------------- MEDIA PC ----------------------*/
@media (min-width: 1200px ) {   
    .logo{
        width: 250px;
    }
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main article:hover{
        box-shadow: 0px 0px 15px rgb(65, 65, 65);
    }

    .main-header-top, .lista{
        max-width: 1500px;
        margin: auto;
    }
        
    .lista{
        margin-top: 30px;
    }

    .main-header-top{
        align-items: center;
    }

    header li{
        margin: 0 10px;
    }

    header a{
        font-size: 19px;
    }

    .publicidad{
        max-width: none;
        text-align: right;
        font-size: 22px;
        font-weight: 400px;
        margin: 0;
    }

    .bar-search{
        max-width: 600px;
    }

    main article h2{
        visibility: hidden;
        height: 30px;
    }
    main article:hover h2{
        visibility: visible;
        font-size: 16px;

    }
    
    
}


